<% provide(:title, "Home") %>
<div class = "center jumbotron">
	<h1>OuDrew </h1>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	<% if @post.any? %>
		<%= @post.length %>
		<div class="class: list-group">
			<%= render @post %>
		</div>
	<%end%>
	<% if !logged_in? %>
		<a href="./users/new">Sign Up Now (Bitch!)</a>
	<% end %>
</div>
