<% unless current_user?(@user) %>
  <div id="follow_form">
  <%-# page = individual subreddit -%>
  <% if current_user.following?(@page) %> 
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>