<% provide(:title, @page.name) %>
<h1>
	<%= @page.name %>
</h1>
<div class="col-md-8">
	<%= render 'follow_form' if logged_in? %>
	<%= render @posts %>
	<%= render partial: "shared/post_form" %>

</div>